body{
    background: lightblue;
    text-align: center;
    font: normal 15pt Arial;
}

header{

}

section{
    text-align: left;
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 5px 10px black;
}

div{
    padding: 0px 0px 10px 0px;
}
p{
    margin: 10px;
}

img{
    max-width: 200px;
    border-radius: 50%;
}

footer{
    position: fixed;
    font-style: italic;
    left: 0;
    bottom: 0;
    width: 100%;
}